// A naive reset *for this demo only*
html,
body {
  margin: 0;
  padding: 0;
  background-color: pink;
}

img {
  width: 100%;
}

// Test to see what would happen with something like contextuals in drupal *for this demo only*
.contextual {
  position: absolute;
  top: 0;
  right: 0;
}
