.root {
  --space--viewport-air--normal: 15px;

  --color--background--red: rgb(255, 153, 153);
  --color--background--green: rgb(156, 253, 156);
  --color--background--blue: rgb(110, 152, 231);
  --color--text: black;

  --width--widget--card--max-width: 300px;
  --width--text--max-width: 300px;
}

.width-wide {
  --width--text--max-width: 300px;
}

@media (prefers-color-scheme: dark) {
  .root {
    --color--background--red: rgb(53, 3, 3);
    --color--background--green: rgb(0, 63, 0);
    --color--background--blue: rgb(0, 20, 56);
    --color--text: white;
  }
}

/*
 * brand-color-1
 * brand-color-2
 */

.color-r {
  --color-scheme--text-color: var(--color--text);
  --color-scheme--text--body--text-color: red;
  --color-scheme--background: var(--color--background--red);
}

.color-g {
  --color-scheme--text-color: var(--color--text);
  --color-scheme--background: var(--color--background--green);
}

.color-b {
  --color-scheme--text-color: var(--color--text);
  --color-scheme--background: var(--color--background--blue);
}

.theme--full-width {
  --content--width--normal: 100%;
  --content--width--narrow: 100%;
}

.theme--vspace--1 {
  --space--group--vspace--header: 100px;
}

.content--width--narrow {
  --width--max-width--normal: 400px;
}

.content--width--wide {
  --width--max-width--normal: 800px;
}

.columns--qwe .columns__column {
  --width--max-width--default: 100px;
}
.columns--qwe .card {
  --w idth--max-width--default: 100%;
}
