@import '../system.scss';

/*
 * TODO: Define a
 */
.columns {
  @extend %class--widget;

  @extend %class--space;
  @include class--space--props(columns, widget);

  @extend %class--width-with-viewport-air;
  @include class--width--props(columns, widget);

  @extend %defaults--air--none;

  @include prop(space-between-rows, space, 0px, columns, widget);
  @include prop(space-between-columns, space, 0px, columns, widget);
  @include prop(max-column-width, width, 0px, columns, widget);

  > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: var(--_space-between-rows);
    column-gap: var(--_space-between-columns);
    > .columns__column {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: var(--_max-column-width);
      @extend %class--width;
      > div {
        @extend .space--vspace--none;
      }
    }
  }
}
