@import '../system.scss';

/*
 * TODO: This needs to be worked more on
 */
.img-embed {
  @extend %class--media;
  @extend %class--width-with-viewport-air;
  @include class--width-with-viewport-air--props(img-embed, media);

  @extend %defaults--air--normal;

  @include prop(vspace-before, space, 0px, img-embed, media);
  @include prop(vspace-after, space, 0px, img-embed, media);

  > div {
    background-size: cover;
    height: 90px;
    max-width: 100%;
    background-image: url(https://picsum.photos/400/30);
  }
}
