@import '../system.scss';

.layout {
  @extend %class--widget;

  @include prop(areas, layout, '"A B"');

  > div {
    display: grid;
    grid-template-areas: var(--_areas);

    > div {
      grid-area: var(--area);
    }
  }
}
